:root {
    --pinVisibility: hidden;
    --graphVisibility: hidden;
    --dataVisibility: hidden;
}
#container {
    overflow: hidden;
}
#slide {
    width: 100%;
    height: 100%;
    transition: transform 0.1s;
}
h1 {
    text-align: center;
}
div.columns {
    width: 100%;
    display: flex;
}
div.columns .map-container {
    width: 34vw;
    height: auto;
}
.map-container {
    padding-left: 10px;
}
div.columns .data-container {
    width: 66vw;
}
.data-container {
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
div.columns div {
    width: 100%;
    height: auto;
    float: left;
}
div.map {
    position: relative;
    display: inline;
}
@keyframes pinRain {
    0% {
        top: 0%;
    }
    100% {
        top: 50%;
    }
}
.pin {
    position: absolute;
    width: 45px;
    height: 60px;
    top: 50%;
    right: 50%;
    visibility: var(--pinVisibility);
    animation: pinRain 2s;
}
div.row {
    flex: 1;
}
.graph {
    visibility: var(--graphVisibility);
}
.sensor-data {
    font-size: 22px;
    visibility: var(--dataVisibility);
}
img {
    height: 100%;
    width: 100%;
}
